/* IMPORT SOURCES */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* RESET CSS */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* CUSTOM CSS */
body {
  color: #37373c;
  font-weight: 600;
}

header {
  padding: 0.2vh 12vw;

  & > div {
    width: 100%;
  }
}

#loginBtn,
.registerBtn {
  border-radius: 0.2rem;

  padding: 0.3vh 1.5vw 0.6vh 1.5vw;
}

#loginBtn {
  border: 1px solid rgb(209, 209, 209);
}

.registerBtn {
  background-color: #00966e;
  border: 1px solid #1d6d48;
}

.active {
  color: #1b9b5f;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-family: "Montserrat Alternates", sans-serif;

  background-color: #00966e;
  color: white;

  padding-top: 10vh;
  padding-bottom: 30vh;

  & > p {
    margin: 0;
  }

  & > p:first-of-type {
    font-size: 2rem;
    font-weight: 400;
  }

  & > p:last-of-type {
    font-weight: 500;
  }
}

#planSection {
  margin-top: -20vh;

  padding: 0 3vw;

  & > ul {
    display: flex;
    justify-content: space-between;
  }
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 22vw;
  padding: 2vw;

  border-radius: 1rem;

  background-color: white;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.04);

  & p {
    margin: 0;
  }

  & > p:first-of-type {
    font-size: 2rem;
    font-weight: bold;
  }

  & > div:first-of-type {
    display: flex;

    & > p:first-of-type {
      font-size: 3rem;
      font-weight: bold;
    }

    & > p:nth-child(2) {
      margin-top: 4.5vh;
    }
  }

  & > p:nth-child(3),
  > div:first-of-type > p:nth-child(2) {
    font-size: 80%;
    font-weight: 600;

    color: #7b7b87;
  }

  & > button {
    margin: 2vh 0;

    font-weight: 600;
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    color: #7b7b87;

    & > li {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
}

#planPlus {
  & > p:first-of-type {
    color: #1e64f0;
  }

  & button{
    background-color: #1e64f0;
  border: 1px solid #1143a6;

  }
}

#planPro {
  & > p:first-of-type {
    color: orangered;
  }

  & button{
    background-color: orangered;
  border: 1px solid rgb(187, 50, 0);

  }
}

#planPremium {
  & > p:first-of-type {
    color: #671C61;
  }

  & button{
    background-color: #671C61;
  border: 1px solid rgb(187, 50, 0);

  }
}
